 #parse("header.vm")
	<h3>#springMessage("authorization")</h3>  

<div id = "login">

	<div id = "login_up">
	</div>
	<div id ="logincontent"> 
	 <form name='f' action="$link.contextURL/j_spring_security_check" method='POST'> 
	 <table> 
	    <tr><td>#springMessage("user"):</td><td><input type='text' name='j_username' value=''></td> 
	<td>
	
	</td>
	</tr> 
	    <tr><td>#springMessage("password"):</td><td><input type='password' name='j_password'/></td></tr> 
	    <tr><td><input name="submit" type="submit" /></td> 
	    <td><input name="reset" type="reset"/></td></tr> 
	  </table> 
	</form>

	  </div>
	#if ($errorLogin)
		<div class="errorblock">
			#springMessage("loginError")
		</div>
	#end

</div>
</div>
 #parse("footer.vm")